{{#mdl-nav
  title='RENTGUSTO'
  closeDrawerOnItemClick=false
  mobileTitle='Hello, Mike'
  }}

  <!-- {{mdl-nav-item name='Account' route='#' inHeader=true inDrawer=true}}
  {{mdl-nav-item name='Payments' route='#' inHeader=true inDrawer=true}}
  {{mdl-nav-item name='Settings' route='#' inHeader=true inDrawer=true}} -->

  <!-- Main Nav in Header-->
  {{mdl-nav-item name='Home' route='dashboard' inHeader=true inDrawer=true}}
  {{mdl-nav-item name='Tenants'    route='tenants'    inDrawer=false}}
  {{mdl-nav-item name='Manage Rentals'    route='rentals'    inDrawer=false}}
  {{mdl-nav-item name='Ledger'    route='rentals'    inDrawer=false}}

  <!-- Navigation in the drawer -->
  <!-- {{mdl-nav-item name='Sign Out' route='list-rentals'  inDrawer=true}} -->

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      {{outlet}}
    </div>
  </div>
{{/mdl-nav}}
