<h2>Rental Properties</h2>
<a href="create-rental">Create New Rental</a>
<br/><hr/>

<div class="ten columns">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Property Name</th>
        <th>Location</th>
        <th>Property Type</th>
        <th>Space (sqft)</th>
        <th>Manage Property</th>
        <th>View Financials</th>
      </tr>
    </thead>
    <tbody>
    {{#each model as |rental|}}
      <tr>
        <td>{{rental.name}}</td>
        <td>{{rental.address1}} {{rental.address2}} {{rental.city}}</td>
        <td>{{rental.type}}</td>
        <td>{{rental.sqft}}</td>
        <td><a href="rentals/{{rental.id}}">Update/Manage</a></td>
        <td><a href="rentals/{{rental.id}}">View Financials</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<!-- 
{{#each model as |rental|}}
{{#mdl-table content=rows as |row|}}
	{{#mdl-table-col label='Id'}}
		{{row.id}}
	{{/mdl-table-col}}
	{{#mdl-table-col label='Name'}}
		{{row.name}}
	{{/mdl-table-col}}
{{/mdl-table}}
{{/each}} -->

{{outlet}}
